<h1>this is the "bookings index" page</h1>

<h2>you asking</h2>
<ul>
  <% current_user.bookings.each do |book|  %>

    <li><%= book.from %>--- <%= book.to %></li>
    <li> <%= book.atv.year %> <%= book.atv.make %> <%= book.atv.model %> </li>
    <p>------------------------------------------------</p>
  <% end %>
</ul>


