<div class="bck">
<h1 class="middle-middle">Booking Logs</h1> <p><%= link_to "Back to Atvs", atvs_path %>

<div class="flex-container">

  <div >
    <h2 class="middle-middle">My Sent Requests</h2>

    <ul class="test-border middle-middle grayy   ">
      <% current_user.bookings.each do |book|  %>
      <div class="nohat grayy">
        <li>   <%=  cl_image_tag book.atv.user.photo, height: 50, width: 50, crop: :thumb, class: "img-circle"%> <%= book.atv.user.email %>'s   <strong> <%= book.atv.year %> <%= book.atv.make %> <%= book.atv.model %><strong> </li>
        <br>
        <li>  <%= book.from %>     <i class="fas fa-arrow-right"></i>     <%= book.to %></li>
        <li>Price: <%= ((book.to - book.from)* book.atv.price).to_i%>$</li>
        <% if book.confirmed == true %>
        <span class="label label-success">Accepted</span>
        <p>  </p>
        <span class="label label-danger">Cancel</span>
        <span class="label label-primary">Update</span>

        <% else %>
        <span class="label label-default">Pending</span>
        <p>  </p>
        <span class="label label-danger">Cancel</span>

        <span class="label label-primary">Update</span>
        <% end %>
        </div>
        <br>



      <% end %>
    </ul>
  </div>

  <div >
   <h2 class="middle-middle">Requestors </h2>

    <ul class="middle-middle ">
      <% current_user.atvs.each do |atv| %>
         <% unless atv.bookings.count == 0   %>

          <ul class="test-border grayy">

            <p > <strong> For : <%= atv.year %> <%= atv.make %> <%= atv.model %></strong> </p>
            <%  atv.bookings.each do |book| %>
            <div class="nohat">
              <li> <%= cl_image_tag book.user.photo,height: 50, width: 50, crop: :thumb, class: "img-circle" %>  <%= book.user.email %> is requesting your atv </li>
              <br>
              <li> From: <%= book.from %> <i class="fas fa-arrow-right"></i> To: <%= book.to %> </li>
              <li> Price: <%= (book.atv.price * (book.to - book.from)).to_i %>$ </li>
                <% if book.confirmed == false %>
                  <%= link_to "Accept", booking_path(book), method: :patch, class: "btn btn-success " %>
                  <%= link_to "Decline", booking_path(book), method: :patch, class: "btn btn-danger " %>

                <% else %>
                  <span class="label label-primary">Accepted</span>

                <% end %>


            </div>
            <br>
            <% end %>
          </ul>
          <br>
          <br>
        <% end %>
      <% end %>
    </ul>
  </div>


</div>


<i class="fas fa-arrow-alt-right"></i>
<i class="fas fa-arrow-alt-right"></i>
<i class="fas fa-arrow-alt-right"></i>

<div><i class="fas fa-arrow-alt-right"></i></div>



<!-- beforei had the name before the ul
 -->











