<div class="navbar-all_terrrain">
  <!-- Logo -->
  <a href="/" class="navbar-atv-logo">
    <%= image_tag "ATV-Logo.png"%>
  </a>
  <div class="search-box">
    <form id="search-city" class="form-inline">
      <input type="text" class="form-control" placeholder="Enter City Name">
      <!-- <input type="submit" class="btn btn-primary" value="Search"> -->
      <%= link_to "Search", atvs_path, class: "btn btn-primary" %>
    </form>
  </div>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

      <%= link_to "Rent Your ATV", new_atv_path %>

      <%= link_to "Booking Logs", bookings_path %>

      <% if !user_signed_in? %>
        <%= link_to "Sign Up", new_user_registration_path %>

        <%= link_to "Login", new_user_session_path %>


      <% end %>
    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <!-- <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown"> -->
        <button class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">MENU</button>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Host</a></li>
        <li><a href="#">Trips</a></li>
        <li><a href="#">Messagese</a></li>
      </ul>
    </div>
  </div>

