<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
<h3>New ATV</h3>

<%= simple_form_for(@atv) do |f| %>
<%= f.input :make %>
<%= f.input :model %>
<%= f.input :year %>
<%= f.input :price %>
<%= f.input :city %>
<%= f.input :description, as:  :text  %>
<%= f.input :photo %>
<%= f.input :photo_cache, as: :hidden %>
<%= f.submit%>
<% end %>

<p><%= link_to "Back to ATVs", atvs_path %></p>

  </div>
  </div>
</div>
