
  <div class="container">



  <%= link_to "Back to Atvs", atvs_path %>

    <div class="my-container">

    <!-- <div id="logo"><%= image_tag "atv.png" %></div> -->
      <h1 class="title">My ATV</h1>

        <div class="top-banner">

          <div class="atv-container-show">
            <div class="atv-img" style="background-image: url('<%= cl_image_path @atv.photo,height: 400, width: 700, crop: :fill%>')">
            </div>

            <div class="spec-container">
              <h2> <strong>Make:</strong> <%= @atv.make %><h2>
              <h2><strong>Model:</strong> <%= @atv.model %><h2>
              <h2><strong>Year:</strong> <%=@atv.year%><h2>
            </div>
          </div>

          <div
            id="map"
            style="width: 50%;
            height: 800px;"
            data-marker="<%= @marker.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
          ></div>

        </div>

      <h2 class="title">About My ATV</h2>
        <div class="btm-banner">

          <div class="atv-description">
            <h4><%= @atv.description %></h4>
          </div>

          <div class="img-avatar">
            <%= cl_image_tag @atv.user.photo,height: 150, width: 150, crop: :thumb,
             class: "img-circle" %>
             <h6><strong><%= @atv.user.email %></strong></h6>
            <h6>$ <%= @atv.price %></h6>
             <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">BOOK
             </button>
          </div>
<!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Booking</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= simple_form_for ([@atv, @booking]) do |f| %>
            <%= f.input :from , as: :date, html5: true %>
            <%= f.input :to, as: :date, html5: true%>
            <%= f.submit %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

      </div>


  </div>

</div>











